In [1]:
import sqlite3
import os
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\juhyu\\OneDrive\\바탕 화면\\JH\\SIM\\Year2\\Programming for data science\\Practice Assignment 03\\Practice Assignment 03'

In [4]:
os.chdir('C:\\Users\\juhyu\\st2195_assignment_3\\dataverse_files')

In [5]:
#remove file if it already exists

try:
    os.remove('airline2.db')
except OSError:
    pass

In [6]:
# ======= create database =======
conn = sqlite3.connect('airline2.db')

# ======= create tables =======

airports = pd.read_csv("airports.csv")
carriers = pd.read_csv("carriers.csv")
planes = pd.read_csv("plane-data.csv")

In [7]:
#write dataframes into sql
airports.to_sql('airports', con = conn, index = False)
carriers.to_sql('carriers', con = conn, index = False)
planes.to_sql('planes', con = conn, index = False)

In [8]:
c = conn.cursor()
c.execute('''
CREATE TABLE ontime (
  Year int,
  Month int,
  DayofMonth int,
  DayOfWeek int,
  DepTime  int,
  CRSDepTime int,
  ArrTime int,
  CRSArrTime int,
  UniqueCarrier varchar(5),
  FlightNum int,
  TailNum varchar(8),
  ActualElapsedTime int,
  CRSElapsedTime int,
  AirTime int,
  ArrDelay int,
  DepDelay int,
  Origin varchar(3),
  Dest varchar(3),
  Distance int,
  TaxiIn int,
  TaxiOut int,
  Cancelled int,
  CancellationCode varchar(1),
  Diverted varchar(1),
  CarrierDelay int,
  WeatherDelay int,
  NASDelay int,
  SecurityDelay int,
  LateAircraftDelay int
)
''')
conn.commit()

In [9]:
#read files from 2000 to 2005
for year in range(2000, 2006):
    print('Reading',year)
    ontime = pd.read_csv(str(year)+".csv")
    ontime.to_sql('ontime', con = conn, if_exists = 'append', index = False)

conn.commit()

Reading 2000
Reading 2001
Reading 2002
Reading 2003

C:\Users\juhyu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Reading 2004
Reading 2005

In [10]:
# =========== run queries ===========

In [13]:
c.execute('''
SELECT model AS model, AVG(ontime.DepDelay) AS avg_delay
FROM planes JOIN ontime USING (tailnum)
WHERE ontime.Cancelled=0 AND ontime.Diverted=0 AND ontime.DepDelay > 0
GROUP BY model
ORDER BY avg_delay
''')
#By default ORDER BY sorts the data in ascending order 

print(c.fetchone()[0], "has the lowest associated average departure delay (excluding cancelled and diverted flights).")

737-2Y5 has the lowest associated average departure delay (excluding cancelled and diverted flights).

In [ ]:
c.execute('''
SELECT airports.city AS city, COUNT(*) AS total
FROM airports JOIN ontime ON ontime.dest = airports.iata



''')